<a href="https://colab.research.google.com/github/sechmo/algoritmos_g2_2022_2/blob/main/lab1_sesanchezmo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to' 
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2) # strings can be concatenated with '+', print() shows the value in the standard output (usually terminal or cell output)
print("Clase " + " de " + "Algoritmos")

Welcome to QuantConnect
Clase  de Algoritmos

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int)) # type(ob) returns the class of ob
print(type(type(my_int))) # type is by itself a type/class

10
<class 'int'>
<class 'type'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string) # parses integers
print(type(my_int))
print(int("0x10",16)) # you can parse integers in other bases
print(type(int)) # parsing functions are the constructors of the classes they are associated with

<class 'str'>
<class 'int'>
16
<class 'type'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string) # parses floating point numbers
print(type(my_float))
flo=3.54
print(type(flo))
print(1e34) # cientific notation is valid

<class 'float'>
<class 'float'>
1e+34

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False # booleans exist :D unlike C
print(my_bool)
print(type(my_bool))
print(bool("true"))
print(bool("false")) # returns false :c, strings are truthy?
print(bool("")) # empty strings is falsy

False
<class 'bool'>
True
True
False

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3) # unusual exp operator, easier to type

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3) # automatic casting into floats

0.3333333333333333
0.3333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

['Quant', 'Connect']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0]) # 0 based indexing
print(my_list[len(my_list) -1]) # last element index

5
Quant
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go' # you can change an element directly with asigment 
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3]) # fancy slicing
print(my_list[0:1]) # exclusive last index (isnt included)

['Connect', 1]
['Quant']

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:]) # second and the rest

['Connect', 1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3]) # all elements up to index 2

['Quant', 'Connect', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
my_list.append(my_list) # fancy data structure recursion
print(my_list)

['Hello', 'Quant', 'Hello']
['Hello', 'Quant', 'Hello', [...]]

In [ ]:
my_list.remove('Hello') # searches and deletes, useful but likely slow 
print(my_list)

['Quant', [...]]

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect') # the inmutable list :v

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:]) # similar indexing

('to', 'QuantConnect')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list) # useful datatype, removes duplicates
my_set = {"cat"}
print(stock_set)
print(my_set | stock_set) # set union

{'F', 'GOOG', 'AAPL', 'FB', 'IBM'}
{'AAPL', 'F', 'GOOG', 'FB', 'IBM', 'cat'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'} # key value pairs

In [ ]:
print(my_dic['GOOG']) # useful key indexing

Alphabet

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG']) # easy assignment

Alphabet Company

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys()) # you extract keys as a list

dict_keys(['AAPL', 'FB', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:]) # slicing similar to lists
print(my_str[::-1]) # string reversing

to QuantConnect
tcennoCtnauQ ot emocleW

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e')) # substring count
print("aaa".count("aa")) # discards first "aa", this could also be 3 if implemented differently as "aaa" has "aa_" and "_aa"
print('The first time e appears in this sentence'.find('e')) # 
print('all the a in this sentence now becomes e'.replace('a','e'))

7
1
2
ell the e in this sentence now becomes e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ') # nice for parsing input
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)
print(time.split("-"))

2016-04-01 09:43:00
09
['09:43:00']

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time) # string interpolation
print("21 * 2 = {val}".format(val=21*2))

Hour: 09, Minute:43
21 * 2 = 42

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect')) # string interpolation now with an operator
print("%.3f" % 333.4444) # some formatting options

the pi number is 3.140000
Welcome to Quantconnect
333.444

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6) # basic numeric comparisons
print(0.0 == 0) # integer 0 is equal to float 0

False
True
True
True
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2) # logical opeators
print(True or False)

True
False
True
False
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))) # a tautology :v

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True') # traditional procedural branching

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false') # multiple branching
elif q and not p:
    print('p is false') 
elif True:
    print("I dont like the else case")
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5: # be careful this terminates, we don't want undecidable problems here
    print(i)
    i += 1

0
1
2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5,"six"]: # iterable structure based for, in other languages fors are syntax sugar for whiles, here every for is a "foreach"
    print(i)

1
2
3
4
5
six

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE',"UNAL"]
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected: # simple operators for checking for members of lists
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE', 'UNAL']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM',"CISCO",'FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break   # my first semester programming teacher didn't liked this :c

AAPL
GOOG
IBM
CISCO
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE',"LAST"]
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE
LAST

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2) # boring way
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list] # cool oneliner
weird = {x for x in [x for x in (x for x in {x:x for x in "hola"}.values())]} # out of control comprehension of comprehensions
print(squares)
print(weird)

[1, 4, 9, 16, 25]
{'a', 'h', 'o', 'l'}

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM',"F"]
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM', 'F']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]) # condicional inclusion, nice
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y]) # multiple sources :3

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y): # no need to specify types, cuestionable pero eficiente
    return x*y
print(product(2,3))
print(product(5,10))

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    def say_bye(): 
      print("adieu") # function inside functions
    print('Welcome to QuantConnect')
    say_bye()
say_hi()

Welcome to QuantConnect
adieu

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2)) # range objects, they are generators, values arent calculed until needed
print(*range(10,2,-1)) # with * you can get "spread" the values of an iterator

range(0, 10)
range(1, 11)
range(1, 11, 2)
10 9 8 7 6 5 4 3

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers))) 
print(len((1,2,3)))# works with most data structures cool
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
3
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
list = [1,2,3,4,5]
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers)) # functional programming beggins here :3

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10))) # lambdas just like church's calculus

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1])) # this save you a for over two or more lists, pretty useful

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])
sorted(["aa","ab","aab"]) # lexicographycal ordering
# sorted([1,"a",34,"dsfa"]) # doesn't work

['aa', 'aab', 'ab']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1]) # this is a method and modifies the list object, sorted created a new list
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume): # constructor is a special method
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close): # explicit "self" i don't like it
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)
print(type(apple)) # the stock class shows just as the builtin types

<class '__main__.stock'>

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker # everything is public by default
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.0006573181419806673
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple) # are objects just dictionaries in disguise, probably

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())
print(type(aa)) # the parent type doesnt shows

aa
100
102
0.020000000000000018
None
<class '__main__.child'>

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array)) # arrays are cooler than lists

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar)) # multidimensionality is cool, tensors here we go
t = np.array([[[1,0],[2,23]],[[3,1],[4,2]]])
print(t)
print(np.array([[1],[1,2]])) # array must be cubical?, and this creates a weird thing

[[1 3]
 [2 4]] <class 'numpy.ndarray'>
[[[ 1  0]
  [ 2 23]]

 [[ 3  1]
  [ 4  2]]]
[list([1]) list([1, 2])]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  """

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)
print(t.shape)

(2, 2)
(2, 2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])
print(t[1,1])
print(t[1,:][1:])

[1 3]
[2 4]
[4 2]
[[4 2]]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))
print(np.exp(Ar))
print(np.log(t))

143.89666666666668
0.9673790478515796
863.38
145.83
[[ 2.71828183 20.08553692]
 [ 7.3890561  54.59815003]]
[[[0.               -inf]
  [0.69314718 3.13549422]]

 [[1.09861229 0.        ]
  [1.38629436 0.69314718]]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in log

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f']) # is like a named bidimentional array, like a dictionary
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1] # you can dinamically change the indexing
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2]) # nice slicing

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List') # it can also have a name
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe()) # nice stats utility

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
print(type(time_index))
s.index = time_index
print(s) # special purpose series

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1]) # weird inverse indxing

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1]) # safe way to index with integers

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03']) # you can index with dates (with yyyy-mm-dd format :c )

143.68

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [4]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.4 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [5]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31") # time series with historical data
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.3343, 'profitMargins': 0.25709, 'grossMargins': 0.43313998, 'operatingCashflow': 118224003072, 'revenueGrowth': 0.019, 'operatingMargins': 0.30533, 'ebitda': 129556996096, 'targetLowPrice': 136, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 83344621568, 'targetMedianPrice': 185, 'currentPrice': 167.57, 'earningsGrowth': -0.077, 'currentRatio': 0.865, 'returnOnAssets': 0.22204, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 183.94, 'debtToEquity': 205.984, 'returnOnEquity': 1.62816, 'targetHighPrice': 220, 'totalCash': 48230998016, 'totalDebt': 119691001856, 'totalRevenue': 387541991424, 'totalCashPerShare': 3.001, 'financialCurrency': 'USD', 'revenuePerShare': 23.732, 'quickRatio': 0.697, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.297, 'beta3Year': None, 'enterpriseToEbitda': 21.828, '52WeekChange': 0.11997056, 'morningStarRiskRating': None, 'forwardEps': 6.44, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16070800384, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.61, 'sharesShort': 107535584, 'sharesPercentSharesOut': 0.0067000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59714, 'netIncomeToCommon': 99632996352, 'trailingEps': 6.05, 'lastDividendValue': 0.23, 'SandP52WeekChange': -0.0776242, 'priceToBook': 46.418285, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1656115200, 'shortRatio': 1.47, 'sharesShortPreviousMonthDate': 1656547200, 'floatShares': 16053234880, 'beta': 1.230174, 'enterpriseValue': 2827915362304, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1659657600, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.106, 'priceToSalesTrailing12Months': 6.9488835, 'dateShortInterest': 1659052800, 'pegRatio': 2.97, 'ytdReturn': None, 'forwardPE': 26.020187, 'lastCapGain': None, 'shortPercentOfFloat': 0.0067000003, 'sharesShortPriorMonth': 112994371, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 171.52, 'regularMarketOpen': 169.69, 'twoHundredDayAverage': 160.5414, 'trailingAnnualDividendYield': 0.005188899, 'payoutRatio': 0.1471, 'volume24Hr': None, 'regularMarketDayHigh': 169.86, 'navPrice': None, 'averageDailyVolume10Day': 64986660, 'regularMarketPreviousClose': 171.52, 'fiftyDayAverage': 151.8174, 'trailingAnnualDividendRate': 0.89, 'open': 169.69, 'toCurrency': None, 'averageVolume10days': 64986660, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.92, 'exDividendDate': 1659657600, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 167.135, 'currency': 'USD', 'trailingPE': 27.697521, 'regularMarketVolume': 69026809, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2692984078336, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75976603, 'dayLow': 167.135, 'ask': 167.98, 'askSize': 1100, 'volume': 69026809, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.05, 'fiftyTwoWeekLow': 129.04, 'bid': 167.73, 'tradeable': False, 'dividendYield': 0.0054, 'bidSize': 1100, 'dayHigh': 169.86, 'coinMarketCapLink': None, 'regularMarketPrice': 167.57, 'preMarketPrice': 169.71, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.1143}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.523350,24.156081,23.383508,24.151495,270597600,0.0,0
2016-01-05,24.243197,24.266121,23.477502,23.546276,223164000,0.0,0
2016-01-06,23.053387,23.468331,22.895205,23.085482,273829600,0.0,0
2016-01-07,22.622398,22.954810,22.106586,22.111170,324377600,0.0,0
2016-01-08,22.592591,22.720971,22.182233,22.228083,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.594672,41.770882,41.551813,41.673252,65397600,0.0,0
2017-12-26,40.670775,40.830315,40.404079,40.616009,132742000,0.0,0
2017-12-27,40.504090,40.666010,40.411224,40.623150,85992800,0.0,0
2017-12-28,40.718400,40.920803,40.594577,40.737450,65920800,0.0,0
2017-12-29,40.604104,40.620771,40.294549,40.296928,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [6]:
aapl = aapl_table['Close']['2017']

In [ ]:
print(aapl)

Date
2017-01-03    27.219831
2017-01-04    27.189371
2017-01-05    27.327635
2017-01-06    27.632290
2017-01-09    27.885387
                ...
2017-12-22    41.673248
2017-12-26    40.616005
2017-12-27    40.623158
2017-12-28    40.737442
2017-12-29    40.296928
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])
print(aapl["2017-03"].var()) # calculating variance

Date
2017-03-01    32.901917
2017-03-02    32.706566
2017-03-03    32.899559
2017-03-06    32.796001
2017-03-07    32.838371
2017-03-08    32.715981
2017-03-09    32.640652
2017-03-10    32.748932
2017-03-13    32.763046
2017-03-14    32.713638
2017-03-15    33.059612
2017-03-16    33.113731
2017-03-17    32.949001
2017-03-20    33.294975
2017-03-21    32.913681
2017-03-22    33.285572
2017-03-23    33.167881
2017-03-24    33.101978
2017-03-27    33.158470
2017-03-28    33.845734
2017-03-29    33.921051
2017-03-30    33.876331
2017-03-31    33.812782
Name: Close, dtype: float64
0.16455324401521296

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.172649
2017-02-02    30.121092
2017-02-03    30.249992
2017-02-06    30.533552
2017-02-07    30.824141
                ...
2017-04-24    33.808071
2017-04-25    34.017555
2017-04-26    33.817482
2017-04-27    33.843384
2017-04-28    33.810429
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10)) # for quick visualisation

Date
2017-01-03    27.219831
2017-01-04    27.189371
2017-01-05    27.327635
2017-01-06    27.632290
2017-01-09    27.885387
Name: Close, dtype: float64
Date
2017-12-15    41.425610
2017-12-18    42.009010
2017-12-19    41.561340
2017-12-20    41.516102
2017-12-21    41.673248
2017-12-22    41.673248
2017-12-26    40.616005
2017-12-27    40.623158
2017-12-28    40.737442
2017-12-29    40.296928
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
by_day = aapl.resample('D').mean()
print(by_month)
print(by_day) # just has 361 days, so the stock market is closed 4 days

Date
2017-01-31    28.021313
2017-02-28    31.430155
2017-03-31    33.096759
2017-04-30    33.630809
2017-05-31    35.924380
2017-06-30    34.938204
2017-07-31    35.048843
2017-08-31    37.686053
2017-09-30    37.395191
2017-10-31    37.444726
2017-11-30    41.004148
2017-12-31    40.930680
Freq: M, Name: Close, dtype: float64
Date
2017-01-03    27.219831
2017-01-04    27.189371
2017-01-05    27.327635
2017-01-06    27.632290
2017-01-07          NaN
                ...
2017-12-25          NaN
2017-12-26    40.616005
2017-12-27    40.623158
2017-12-28    40.737442
2017-12-29    40.296928
Freq: D, Name: Close, Length: 361, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.342285
2017-01-15    27.941166
2017-01-22    28.108610
2017-01-29    28.394868
2017-02-05    29.497255
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max() # not the max of the everything, but by month

Date
2017-01-31    28.579067
2017-02-28    32.271137
2017-03-31    33.921051
2017-04-30    34.074039
2017-05-31    36.892399
2017-06-30    36.738781
2017-07-31    36.268471
2017-08-31    38.911682
2017-09-30    38.923550
2017-10-31    40.107506
2017-11-30    41.815826
2017-12-31    42.009010
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [10]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean() # Nice resampling options, similar to list and array indexing


print(three_day)
print(two_week)
print(two_month )
print(aapl.resample("0.5D").mean()) # this turns into 12 hours cycles :O
print(aapl.resample("0.033D").mean()) # not fully undertanding what this does

Date
2017-01-03    27.245611
2017-01-06    27.632290
2017-01-09    27.954131
2017-01-12    27.921716
2017-01-15    28.122084
                ...
2017-12-17    41.785166
2017-12-20    41.620869
2017-12-23          NaN
2017-12-26    40.658869
2017-12-29    40.296928
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.342281
2017-01-22    28.015584
2017-02-05    28.946062
2017-02-19    31.341195
2017-03-05    32.413922
2017-03-19    32.833896
2017-04-02    33.437849
2017-04-16    33.661104
2017-04-30    33.603547
2017-05-14    35.498713
2017-05-28    36.292810
2017-06-11    36.311536
2017-06-25    34.336636
2017-07-09    34.074199
2017-07-23    35.082285
2017-08-06    36.070652
2017-08-20    37.692908
2017-09-03    38.244488
2017-09-17    38.069385
2017-10-01    36.635586
2017-10-15    36.865023
2017-10-29    37.546924
2017-11-12    40.803595
2017-11-26    40.974773
2017-12-10    40.639341
2017-12-24    41.388939
2018-01-07    40.568384
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.021313
2017-03-31    32.342820
2017-05-31    34.861507
2017-07-31    34.990890
2017-09-30    37.550770
2017-11-30    39.183049
2018-01-31    40.930680
Freq: 2M, Name: Close, dtype: float64
Date
2017-01-03 00:00:00    27.219833
2017-01-03 12:00:00          NaN
2017-01-04 00:00:00    27.189367
2017-01-04 12:00:00          NaN
2017-01-05 00:00:00    27.327633
                         ...
2017-12-27 00:00:00    40.623150
2017-12-27 12:00:00          NaN
2017-12-28 00:00:00    40.737450
2017-12-28 12:00:00          NaN
2017-12-29 00:00:00    40.296928
Freq: 12H, Name: Close, Length: 721, dtype: float64
Date
2017-01-03 00:00:00.000    27.219833
2017-01-03 00:47:31.200          NaN
2017-01-03 01:35:02.400          NaN
2017-01-03 02:22:33.600          NaN
2017-01-03 03:10:04.800          NaN
                             ...
2017-12-28 20:45:36.000          NaN
2017-12-28 21:33:07.200          NaN
2017-12-28 22:20:38.400          NaN
2017-12-28 23:08:09.600          NaN
2017-12-28 23:55:40.800    40.296928
Freq: 2851200L, Name: Close, Length: 10910, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [11]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.202234
2017-01-15    0.072125
2017-01-22    0.025413
2017-01-29    0.243919
2017-02-05    0.938005
2017-02-12    0.250595
2017-02-19    0.230106
2017-02-26    0.059013
2017-03-05    0.338201
2017-03-12    0.075859
2017-03-19    0.176841
2017-03-26    0.156385
2017-04-02    0.318025
2017-04-09    0.127971
2017-04-16    0.211293
2017-04-23    0.173701
2017-04-30    0.089521
2017-05-07    0.234324
2017-05-14    0.351016
2017-05-21    0.533107
2017-05-28    0.060052
2017-06-04    0.279658
2017-06-11    0.616583
2017-06-18    0.380434
2017-06-25    0.128176
2017-07-02    0.262637
2017-07-09    0.158002
2017-07-16    0.402029
2017-07-23    0.124295
2017-07-30    0.382299
2017-08-06    0.919239
2017-08-13    0.464862
2017-08-20    0.432825
2017-08-27    0.274233
2017-09-03    0.250322
2017-09-10    0.379506
2017-09-17    0.292503
2017-09-24    0.731096
2017-10-01    0.352869
2017-10-08    0.203717
2017-10-15    0.118070
2017-10-22    0.514117
2017-10-29    0.676665
2017-11-05    0.557557
2017-11-12    0.189906
2017-11-19    0.433770
2017-11-26    0.559908
2017-12-03    0.425064
2017-12-10    0.072721
2017-12-17    0.204125
2017-12-24    0.193041
2017-12-31    0.189331
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.632290
2017-01-15    28.063496
2017-01-22    28.122084
2017-01-29    28.579063
2017-02-05    30.249994
2017-02-12    31.167261
2017-02-19    31.943981
2017-02-26    32.271133
2017-03-05    32.901917
2017-03-12    32.838371
2017-03-19    33.113747
2017-03-26    33.294987
2017-04-02    33.921047
2017-04-09    34.074039
2017-04-16    33.697456
2017-04-23    33.525642
2017-04-30    34.017555
2017-05-07    35.060230
2017-05-14    36.892403
2017-05-21    36.797871
2017-05-28    36.393726
2017-06-04    36.738785
2017-06-11    36.719872
2017-06-18    34.644825
2017-06-25    34.585735
2017-07-02    34.465206
2017-07-09    34.075253
2017-07-16    35.223850
2017-07-23    35.691807
2017-07-30    36.268463
2017-08-06    37.138191
2017-08-13    38.064636
2017-08-20    38.342243
2017-08-27    37.957878
2017-09-03    38.923546
2017-09-10    38.456127
2017-09-17    38.318512
2017-09-24    37.661285
2017-10-01    36.593590
2017-10-08    36.868824
2017-10-15    37.248447
2017-10-22    38.074131
2017-10-29    38.686283
2017-11-05    40.928444
2017-11-12    41.815823
2017-11-19    41.425613
2017-11-26    41.663727
2017-12-03    41.454185
2017-12-10    40.432652
2017-12-17    41.425613
2017-12-24    42.008999
2017-12-31    40.737450
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.189367
2017-01-15    27.885389
2017-01-22    28.070524
2017-01-29    28.115055
2017-02-05    28.438459
2017-02-12    30.533554
2017-02-19    31.372028
2017-02-26    32.134628
2017-03-05    32.228760
2017-03-12    32.640663
2017-03-19    32.713631
2017-03-26    32.913692
2017-04-02    33.158466
2017-04-09    33.737461
2017-04-16    33.198479
2017-04-23    33.111389
2017-04-30    33.808090
2017-05-07    34.488293
2017-05-14    36.013454
2017-05-21    35.509819
2017-05-28    36.240112
2017-06-04    36.103027
2017-06-11    35.209667
2017-06-18    33.623840
2017-06-25    34.271404
2017-07-02    33.957081
2017-07-09    33.732559
2017-07-16    34.283226
2017-07-23    35.346748
2017-07-30    35.332561
2017-08-06    35.150593
2017-08-13    36.852215
2017-08-20    37.369446
2017-08-27    37.300640
2017-09-03    38.311398
2017-09-10    37.637573
2017-09-17    37.554512
2017-09-24    36.038387
2017-10-01    35.720448
2017-10-08    36.415642
2017-10-15    36.975590
2017-10-22    37.008804
2017-10-29    37.053883
2017-11-05    39.557049
2017-11-12    41.343666
2017-11-19    40.261208
2017-11-26    40.475513
2017-12-03    40.356453
2017-12-10    40.244541
2017-12-17    40.885067
2017-12-24    41.516102
2017-12-31    40.296928
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [12]:
last_day = aapl.resample('M').agg(lambda x: x[-1]) # similar to the map function
print(last_day)

Date
2017-01-31    28.438459
2017-02-28    32.242886
2017-03-31    33.812790
2017-04-30    33.810436
2017-05-31    36.103027
2017-06-30    34.037434
2017-07-31    35.150593
2017-08-31    38.911678
2017-09-30    36.567490
2017-10-31    40.107498
2017-11-30    40.920795
2017-12-31    40.296928
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [13]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1) # this seems to be useful but I'm not sure why it's calculated this way
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [15]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())
print(monthly_return.kurtosis()) # who uses this?

0.026863280473620788
0.052258528933486106
0.09901842481349821
-0.3944154419353336

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [17]:
print(last_day.diff()) # these are pretty useful
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.804426
2017-03-31    1.569904
2017-04-30   -0.002354
2017-05-31    2.292591
2017-06-30   -2.065594
2017-07-31    1.113159
2017-08-31    3.761086
2017-09-30   -2.344189
2017-10-31    3.540009
2017-11-30    0.813297
2017-12-31   -0.623867
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [18]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0)) # we can just dream with fully complete datasets

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill')) # this seems better

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [19]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [21]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df) # the array of series, just like a crossover episode

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [22]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5)) # quick indexing and visualization

Date
2017-12-22    41.673252
2017-12-26    40.616009
2017-12-27    40.623150
2017-12-28    40.737450
2017-12-29    40.296928
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [23]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month) # dataframes are series of series, kinda
print(aapl_2016.resample("2W").agg(lambda x: sum(x)/len(x))) # biweek average

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199  257666000        0.0
2016-02-29  22.325654  22.641431  22.277250  22.286470  140865200        0.0
2016-03-31  25.289805  25.331294  25.096189  25.121544  103553600        0.0
2016-04-30  21.664139  21.832401  21.323009  21.606516  274126000        0.0
2016-05-31  23.096982  23.282501  22.916103  23.157276  169228800        0.0
2016-06-30  21.900390  22.208812  21.867924  22.169390  143345600        0.0
2016-07-31  24.161386  24.244869  24.043118  24.166023  110934800        0.0
2016-08-31  24.635014  24.847183  24.630350  24.737600  118649600        0.0
2016-09-30  26.220452  26.432622  26.066571  26.358013  145516400        0.0
2016-10-31  26.497910  26.633140  26.392990  26.472263  105677600        0.0
2016-11-30  26.153536  26.294146  25.841849  25.900436  144649200        0.0
2016-12-31  27.337010  27.465901  27.051101  27.142498  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0
                 Open       High        Low      Close        Volume  \
Date
2016-01-10  23.206985  23.513263  22.809007  23.024501  2.750322e+08
2016-01-24  22.497075  22.805544  22.079585  22.509811  2.434317e+08
2016-02-07  22.154358  22.370086  21.802254  22.081238  2.389965e+08
2016-02-21  21.969925  22.227823  21.751468  21.999890  1.775283e+08
2016-03-06  22.540243  22.816835  22.384429  22.676465  1.443427e+08
2016-03-20  23.751718  23.926664  23.594521  23.792516  1.350350e+08
2016-04-03  24.615995  24.907698  24.503053  24.735596  1.189994e+08
2016-04-17  25.397217  25.636240  25.228265  25.412891  1.232130e+08
2016-05-01  23.783762  23.987749  23.515697  23.717610  2.153908e+08
2016-05-15  21.602521  21.725792  21.319861  21.493116  1.766628e+08
2016-05-29  22.291370  22.507730  22.149680  22.402681  1.666829e+08
2016-06-12  22.862506  23.104968  22.760987  22.907340  1.177962e+08
2016-06-26  22.330328  22.521179  22.151071  22.282557  1.593846e+08
2016-07-10  21.952440  22.106266  21.834430  22.021494  1.320153e+08
2016-07-24  22.841663  23.008861  22.763745  22.878767  1.161904e+08
2016-08-07  23.992745  24.187533  23.847760  24.032356  1.706881e+08
2016-08-21  25.311857  25.460609  25.217196  25.362684  1.027509e+08
2016-09-04  25.011323  25.141189  24.875627  25.023913  1.026424e+08
2016-09-18  25.271003  25.632650  25.098987  25.397165  2.475697e+08
2016-10-02  26.458507  26.635471  26.222089  26.420503  1.429919e+08
2016-10-16  26.857432  27.021339  26.690494  26.831785  1.338951e+08
2016-10-30  27.163564  27.301591  26.948130  27.173823  1.303028e+08
2016-11-13  25.890383  26.102719  25.555921  25.828741  1.454462e+08
2016-11-27  25.650205  25.893149  25.466631  25.762173  1.299884e+08
2016-12-11  25.902313  26.163848  25.757953  25.991835  1.229958e+08
2016-12-25  27.074535  27.317322  27.009854  27.159604  1.233354e+08
2017-01-08  27.368645  27.543823  27.215146  27.335251  8.482860e+07

            Dividends  Stock Splits
Date
2016-01-10    0.00000           0.0
2016-01-24    0.00000           0.0
2016-02-07    0.01300           0.0
2016-02-21    0.00000           0.0
2016-03-06    0.00000           0.0
2016-03-20    0.00000           0.0
2016-04-03    0.00000           0.0
2016-04-17    0.00000           0.0
2016-05-01    0.00000           0.0
2016-05-15    0.01425           0.0
2016-05-29    0.00000           0.0
2016-06-12    0.00000           0.0
2016-06-26    0.00000           0.0
2016-07-10    0.00000           0.0
2016-07-24    0.00000           0.0
2016-08-07    0.01425           0.0
2016-08-21    0.00000           0.0
2016-09-04    0.00000           0.0
2016-09-18    0.00000           0.0
2016-10-02    0.00000           0.0
2016-10-16    0.00000           0.0
2016-10-30    0.00000           0.0
2016-11-13    0.01425           0.0
2016-11-27    0.00000           0.0
2016-12-11    0.00000           0.0
2016-12-25    0.00000           0.0
2017-01-08    0.00000           0.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [24]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']] # too much fancy indexing, we're spoiled
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199
2016-02-29  22.325654  22.641431  22.277250  22.286470
2016-03-31  25.289805  25.331294  25.096189  25.121544
2016-04-30  21.664139  21.832401  21.323009  21.606516
2016-05-31  23.096982  23.282501  22.916103  23.157276
2016-06-30  21.900390  22.208812  21.867924  22.169390
2016-07-31  24.161386  24.244869  24.043118  24.166023
2016-08-31  24.635014  24.847183  24.630350  24.737600
2016-09-30  26.220452  26.432622  26.066571  26.358013
2016-10-31  26.497910  26.633140  26.392990  26.472263
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337010  27.465901  27.051101  27.142498

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.289811  25.331300  25.096195  25.121550
2016-04-30  21.664136  21.832397  21.323005  21.606512
2016-05-31  23.096979  23.282497  22.916099  23.157272
2016-06-30  21.900390  22.208812  21.867924  22.169390

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [25]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)] # this syntax is just so useful and clean, I like it
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.289805  25.331294  25.096189  25.121544
2016-08-31  24.635014  24.847183  24.630350  24.737600
2016-09-30  26.220452  26.432622  26.066571  26.358013
2016-10-31  26.497910  26.633140  26.392990  26.472263
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337010  27.465901  27.051101  27.142498

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199          NaN
2016-02-29  22.325660  22.641437  22.277256  22.286476    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127210
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504
2016-10-31  26.497912  26.633142  26.392992  26.472265     0.004334
2016-11-30  26.153539  26.294149  25.841853  25.900440    -0.021601
2016-12-31  27.337013  27.465905  27.051105  27.142502     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.325660  22.641437  22.277256  22.286476    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127210
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504
2016-10-31  26.497912  26.633142  26.392992  26.472265     0.004334
2016-11-30  26.153539  26.294149  25.841853  25.900440    -0.021601
2016-12-31  27.337013  27.465905  27.051105  27.142502     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199     0.000000
2016-02-29  22.325660  22.641437  22.277256  22.286476    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127210
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504
2016-10-31  26.497912  26.633142  26.392992  26.472265     0.004334
2016-11-30  26.153539  26.294149  25.841853  25.900440    -0.021601
2016-12-31  27.337013  27.465905  27.051105  27.142502     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [27]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2,s1,s2], axis = 1) # twice the goog now
print(data_frame)

     AAPL    GOOG    AAPL    GOOG
0  143.50  898.70  143.50  898.70
1  144.09  911.71  144.09  911.71
2  142.73  906.69  142.73  906.69
3  144.18  918.59  144.18  918.59
4  143.77  926.99  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [31]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 0) # not sure what this does
print(concat)

Date
2016-01-31    3.105268
2016-02-29    3.103980
2016-03-31    3.223726
2016-04-30    3.072995
2016-05-31    3.142309
2016-06-30    3.098712
2016-07-31    3.184948
2016-08-31    3.208324
2016-09-30    3.271772
2016-10-31    3.276098
2016-11-30    3.254260
2016-12-31    3.301101
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  log_price
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199   3.105268
2016-02-29  22.325654  22.641431  22.277250  22.286470   3.103980
2016-03-31  25.289805  25.331294  25.096189  25.121544   3.223726
2016-04-30  21.664139  21.832401  21.323009  21.606516   3.072995
2016-05-31  23.096982  23.282501  22.916103  23.157276   3.142309
2016-06-30  21.900390  22.208812  21.867924  22.169390   3.098712
2016-07-31  24.161386  24.244869  24.043118  24.166023   3.184948
2016-08-31  24.635014  24.847183  24.630350  24.737600   3.208324
2016-09-30  26.220452  26.432622  26.066571  26.358013   3.271772
2016-10-31  26.497910  26.633140  26.392990  26.472263   3.276098
2016-11-30  26.153536  26.294146  25.841849  25.900436   3.254260
2016-12-31  27.337010  27.465901  27.051101  27.142498   3.301101

---------------------- separate line--------------------

                   0      Close       High        Low       Open
Date
2016-01-31       NaN  22.315199  22.315199  21.629742  21.730612
2016-02-29       NaN  22.286470  22.641431  22.277250  22.325654
2016-03-31       NaN  25.121544  25.331294  25.096189  25.289805
2016-04-30       NaN  21.606516  21.832401  21.323009  21.664139
2016-05-31       NaN  23.157276  23.282501  22.916103  23.096982
2016-06-30       NaN  22.169390  22.208812  21.867924  21.900390
2016-07-31       NaN  24.166023  24.244869  24.043118  24.161386
2016-08-31       NaN  24.737600  24.847183  24.630350  24.635014
2016-09-30       NaN  26.358013  26.432622  26.066571  26.220452
2016-10-31       NaN  26.472263  26.633140  26.392990  26.497910
2016-11-30       NaN  25.900436  26.294146  25.841849  26.153536
2016-12-31       NaN  27.142498  27.465901  27.051101  27.337010
2016-01-31  3.105268        NaN        NaN        NaN        NaN
2016-02-29  3.103980        NaN        NaN        NaN        NaN
2016-03-31  3.223726        NaN        NaN        NaN        NaN
2016-04-30  3.072995        NaN        NaN        NaN        NaN
2016-05-31  3.142309        NaN        NaN        NaN        NaN
2016-06-30  3.098712        NaN        NaN        NaN        NaN
2016-07-31  3.184948        NaN        NaN        NaN        NaN
2016-08-31  3.208324        NaN        NaN        NaN        NaN
2016-09-30  3.271772        NaN        NaN        NaN        NaN
2016-10-31  3.276098        NaN        NaN        NaN        NaN
2016-11-30  3.254260        NaN        NaN        NaN        NaN
2016-12-31  3.301101        NaN        NaN        NaN        NaN

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.497912  26.633142  26.392992  26.472265
2016-11-30  26.153539  26.294149  25.841853  25.900440
2016-12-31  27.337013  27.465905  27.051105  27.142502
2017-01-31  28.391590  28.447834  28.267384  28.438459
2017-02-28  32.264072  32.348804  32.174631  32.242889
2017-03-31  33.826911  33.956364  33.659799  33.812790
2017-04-30  33.913991  33.963419  33.720992  33.810429

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199          NaN
2016-02-29  22.325660  22.641437  22.277256  22.286476    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127210
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504
2016-10-31  26.497912  26.633142  26.392992  26.472265     0.004334
2016-11-30  26.153539  26.294149  25.841853  25.900440    -0.021601
2016-12-31  27.337013  27.465905  27.051105  27.142502     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.497912  26.633142  26.392992  26.472265     0.004334
2016-11-30  26.153539  26.294149  25.841853  25.900440    -0.021601
2016-12-31  27.337013  27.465905  27.051105  27.142502     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199          NaN
2016-02-29  22.325660  22.641437  22.277256  22.286476    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127210
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504
2016-10-31  26.497912  26.633142  26.392992  26.472265     0.004334
2016-11-30  26.153539  26.294149  25.841853  25.900440    -0.021601
2016-12-31  27.337013  27.465905  27.051105  27.142502     0.047955
2016-10-31  26.497912  26.633142  26.392992  26.472265          NaN
2016-11-30  26.153539  26.294149  25.841853  25.900440          NaN
2016-12-31  27.337013  27.465905  27.051105  27.142502          NaN
2017-01-31  28.391590  28.447834  28.267384  28.438459          NaN
2017-02-28  32.264072  32.348804  32.174631  32.242889          NaN
2017-03-31  33.826911  33.956364  33.659799  33.812790          NaN
2017-04-30  33.913991  33.963419  33.720992  33.810429          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199          NaN
2016-02-29  22.325660  22.641437  22.277256  22.286476    -0.001287
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127210
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504
2016-10-31  26.497912  26.633142  26.392992  26.472265     0.004334
2016-11-30  26.153539  26.294149  25.841853  25.900440    -0.021601
2016-12-31  27.337013  27.465905  27.051105  27.142502     0.047955
2016-10-31  26.497912  26.633142  26.392992  26.472265          NaN
2016-11-30  26.153539  26.294149  25.841853  25.900440          NaN
2016-12-31  27.337013  27.465905  27.051105  27.142502          NaN
2017-01-31  28.391590  28.447834  28.267384  28.438459          NaN
2017-02-28  32.264072  32.348804  32.174631  32.242889          NaN
2017-03-31  33.826911  33.956364  33.659799  33.812790          NaN
2017-04-30  33.913991  33.963419  33.720992  33.810429          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0) # caos :c
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199          NaN        NaN
2016-02-29  22.325660  22.641437  22.277256  22.286476    -0.001287        NaN
2016-03-31  25.289811  25.331300  25.096195  25.121550     0.127210        NaN
2016-04-30  21.664136  21.832397  21.323005  21.606512    -0.139921        NaN
2016-05-31  23.096979  23.282497  22.916099  23.157272     0.071773        NaN
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660        NaN
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063        NaN
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652        NaN
2016-09-30  26.220457  26.432628  26.066577  26.358019     0.065504        NaN
2016-10-31  26.497912  26.633142  26.392992  26.472265     0.004334        NaN
2016-11-30  26.153539  26.294149  25.841853  25.900440    -0.021601        NaN
2016-12-31  27.337013  27.465905  27.051105  27.142502     0.047955        NaN
2016-10-31        NaN  26.633142  26.392992  26.472265          NaN  26.497912
2016-11-30        NaN  26.294149  25.841853  25.900440          NaN  26.153539
2016-12-31        NaN  27.465905  27.051105  27.142502          NaN  27.337013
2017-01-31        NaN  28.447834  28.267384  28.438459          NaN  28.391590
2017-02-28        NaN  32.348804  32.174631  32.242889          NaN  32.264072
2017-03-31        NaN  33.956364  33.659799  33.812790          NaN  33.826911
2017-04-30        NaN  33.963419  33.720992  33.810429          NaN  33.913991

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.